@import '../../Styles';

.menu {
  width: 100%;
  height: 100%;
  @include flexer($ai: center, $just: center);
  color: $secondary-color;

  &-border {
    height: 100%;
    width: 100%;
    border: 2px solid $primary-color;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include flexer($dir: column, $ai: center);
  }

  p, input {
    margin: 8px 0;
  }
}
